<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>

<body>
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <!-- text - start -->
      <div class="mb-10 md:mb-16">
        <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">Create flight</h2>

      </div>
      <!-- text - end -->

      <!-- form - start -->
      <form class="max-w-screen-md grid sm:grid-cols-2 gap-4 mx-auto" method="post" action="/admin/create">
        <div>
          <label for="departure_airport" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Departure
            airport</label>
          <input name="departure_airport"
            class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
        </div>

        <div>
          <label for="arrival_airport" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Arrival
            airport</label>
          <input name="arrival_airport"
            class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
        </div>

        <div>
          <label for="departure_datetime" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Departure
            datetime</label>
          <input type="date" name="departure_datetime"
            class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
        </div>

        <div>
          <label for="arrival_datetime" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Arrival
            datetime</label>
          <input type="date" name="arrival_datetime"
            class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
        </div>

        <div>
          <label for="price" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Price (MAD)</label>
          <input name="price"
            class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
        </div>

        <div>
          <label for="seats" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Seats</label>
          <input name="seats"
            class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
        </div>


        <div class="sm:col-span-2">
          <label for="url" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Flight image url</label>
          <textarea name="url"
            class="w-full h-64 bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2"></textarea>
        </div>

        <div class="sm:col-span-2 flex justify-between items-center">
          <button
            class="inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Done</button>
        </div>
        <pp>
      </form>
      <!-- form - end -->
    </div>
  </div>
</body>

</html>