<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Signup</title>
</head>

<body>
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">Register</h2>

      <form class="max-w-lg border rounded-lg mx-auto" id="form">
        <div class="flex flex-col gap-4 p-4 md:p-8">
          <div>
            <label for="email" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Email</label>
            <input name="email"
              class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
          </div>
          <div>
            <label for="firstName" class="inline-block text-gray-800 text-sm sm:text-base mb-2">first Name</label>
            <input name="firstName"
              class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
          </div>
          <div>
            <label for="lastName" class="inline-block text-gray-800 text-sm sm:text-base mb-2">last Name</label>
            <input name="lastName"
              class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
          </div>

          <div>
            <label for="password" class="inline-block text-gray-800 text-sm sm:text-base mb-2">Password</label>
            <input type="password" name="password"
              class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
          </div>

          <button
            class="block bg-gray-800 hover:bg-gray-700 active:bg-gray-600 focus-visible:ring ring-gray-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Register
            Now
          </button>

        </div>

        <div class="flex justify-center items-center bg-gray-100 p-4">
          <p class="text-gray-500 text-sm text-center">already have an account? <a href="/account/signin"
              class="text-indigo-500 hover:text-indigo-600 active:text-indigo-700 transition duration-100">login</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</body>
<script>
  let form = document.querySelector('form');
  form.addEventListener('submit', (e) => {
    e.preventDefault();

    const user = {
      email: form.elements.email.value,
      firstName: form.elements.firstName.value,
      lastName: form.elements.lastName.value,
      password: form.elements.password.value,
      type: 'register'
    }
    fetch('/api/account/auth', {
      method: 'POST',
      body: JSON.stringify(user)
    })
      .then(res => res.json())
      .then(res => {
        if (res.success) {
          window.location.href = 'http://localhost:3000/fly';
        } else {
          alert(res.error);
        }
      })
      .catch(err => console.log(err));
  });
</script>

</html>